<div class="grid-layout">
  <div class="card">
    <h3>Integer to Roman</h3>
    <div class="settings-group"><label for="roman-int-input">Decimal Integer (1-3999)</label><input type="number" id="roman-int-input" class="styled-input" value="2026" min="1" max="3999"></div>
    <div class="settings-group" style="margin-top:1.5rem;"><label>Roman Numeral Output</label><input type="text" id="roman-str-output" class="styled-input mono" readonly></div>
  </div>
  <div class="card">
    <h3>Roman to Integer</h3>
    <div class="settings-group"><label for="roman-str-input">Roman Numeral String</label><input type="text" id="roman-str-input" class="styled-input mono" value="MMXXVI"></div>
    <div class="settings-group" style="margin-top:1.5rem;"><label>Decimal Integer Output</label><input type="text" id="roman-int-output" class="styled-input" readonly></div>
  </div>
</div>
